/*!
 * Start Bootstrap - 3 Col Portfolio HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 30px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

.item-frame{
	box-shadow: 0px 0px 5px #888888;
}

.footer-header{
	color: white;
	background: #262626;
	padding-top: 20px;
	padding-bottom: 40px;
}
.footer-footer{
	color: white;
	background: #1a1a1a;
	padding-top: 10px;
}